$BlackPrimary: #26272B;
$BlackSecondary: #33363B;
$Border:#E4E4E4;
$DisabledLink:#666;
$Link:#337AB7;
$ThemeColor:#BB3D00;
$LogoColor:#3F301B;
$BigFontColor:#575757;
$FontColr:#666;
$BorderColor:#e6e6e6;

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
  font-size: 15px;
  color: #333;
  // background-color: #F1F1F1;
  background-color: #FFFFFF;
}

ul,
ol,
dl {
  list-style-type: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  color: $Link;
  text-decoration: none;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    outline: none;
  }
  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

.container {
  max-width: 1120px;
}

input {
  height: 35px;
  text-indent: 1em;
  border-radius: 5px;
  border: 1px solid $Border;
  display: inline-block;
  &:focus {
    outline: none;
  }
}

button {
  padding: 8px 15px !important;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.common-border{
	content:"";
	display:inline-block;
	width:200%;
	height:1px;
	background:#dcdcdc;
	position:absolute;
	left:0;
	right:0;
	transform:scale(.5);
	-webkit-transform:scale(.5);
	transform-origin:0 100%;
	-webkit-transform-origin:0 100%;
}

/* golbal header */

.header {
  // height: 240px;
  // background-color: $BlackPrimary;
  .info {
    
    margin: 0 auto;
    padding: 20px 0 10px 0;
    
    // .nickname {
    //   font-size: 25px;
    //   font-weight: bold;
    //   padding: 20px 0 10px 0px;
    //   cursor: pointer;
    //   text-align: center;
    // }
    // .intro {
    //   font-size: 18px;
    //   padding: 0 0 10px 230px;
    //   text-align: center;
    // }
  }
  .tabbar{
    // @extend .common-border;
    // border-top:1px $ThemeColor solid ;
    // border-bottom:1px #fff solid;
    margin-bottom:15px; 
    &.tabbar:before{
      content:"";
      display:inline-block;
      width:200%;
      height:1px;
      background:$BorderColor;
      position:absolute;
      left:0;
      right:0;
      transform:scale(.5);
      -webkit-transform:scale(.5);
      transform-origin:0 100%;
      -webkit-transform-origin:0 100%;
    }
    .tab{
      color: #fff;
      display: flex;
      max-width: 1120px;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        a {
          padding: 10px 18px;
          color:$FontColr;
          &:hover {
            text-decoration: none;
          }
        }
      }
      input[type="search"] {
        width: 280px;
        margin-right: 18px;
        border: none;
        background-color: #404448;
        color: #C8C9CA;
      }
    }
  }
  .subtab{
    background-color: #dcdcdc;
    color: #000;
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    ul {
      a {
        padding: 10px 18px;
        color: #C8C9CA;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .pic{
    
    //  height: 600px;
     .for-banner{
       width: 100%;
      .swiper{
        width: 100%;
        height: 500px;
      }
     }
     
  }
  .nav {
    display: flex;
    margin: 0 auto;
    background-color: $BlackSecondary;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #3D4045;
    border-bottom: none;
    ul {
      display: flex;
      a {
        padding: 19px 18px;
        color: #C8C9CA;
        &:hover {
          text-decoration: none;
        }
      }
    }
    input[type="search"] {
      width: 280px;
      margin-right: 18px;
      border: none;
      background-color: #404448;
      color: #C8C9CA;
    }
  }
}



/* article list layout */

.wrap {
  display: flex;
  margin: 0 auto 30px;
}

.article-list {
  flex: 1;
  background-color: #FFF;
  padding: 15px 18px;
  .item+.item {
    border-top: 1px dashed #F1F1F1;
  }
  .title {
    font-size: 18px;
    margin: 15px auto;
  }
  .content {
    margin-bottom: 20px;
  }
  .tips {
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    strong {
      color: red;
    }
  }
}

.article-detail {
  flex: 1;
  background-color: #FFF;
  padding: 15px 18px;
  overflow: auto;
  .title {
    margin: 20px 0;
    &::after {
      content: '';
      display: block;
      margin-top: 20px;
      border-bottom: 1px dashed $Border;
    }
  }
  .content {
    margin-bottom: 20px;
  }
  .manage {
    text-align: right;
    &::before {
      content: '';
      display: block;
      margin-top: 20px;
      border-bottom: 1px dashed $Border;
    }
    span {
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

.aside {
  width: 300px;
  background-color: #F8F8F8;
  padding: 15px;
  .tags,
  .archives {
    .icon-iconfontyouhuiquan,
    .icon-wodedangan,
    .title {
      font-size: 20px;
      font-style: bold;
      padding: 10px 0;
    }
    .title {
      border-bottom: 1px solid $Border; // padding-left: 10px;
    }
    .list {
      li+li {
        border-top: 1px dashed $Border;
      }
      a {
        padding: 15px 0;
        display: block;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}

.page {
  position: relative;
  width: 100%;
  .prev,
  .next {
    width: 50%;
    display: inline-block;
    padding: 20px 0;
  }
  .next {
    text-align: right;
  }
  .prev {
    text-align: left;
  }
  .disabled {
    cursor: not-allowed;
    color: $DisabledLink;
    text-decoration: none;
  }
}

.footer {
  border-top: 1px solid $Border;
  padding-top: 10px;
  color: $FontColr;
  margin: auto;
  .container{
    margin: 0 auto;
  }
  .foot-des{
    // height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 18px;
    div{
      p{
        line-height: 20px;
        height: 20px;
      }
    } 
  }
  .copy {
    height: 70px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 18px;
  }
  .for-copyright{
    height: 100px;
    text-align: center;
    font-size: 11px;
    .banquansuoyou{
      line-height: 40px;
      height: 40px;
    }
    .beianhao{
      line-height: 40px;
      height: 40px;
    }
  }
}



/* admin template layout */

.admin {
  position: relative;
  width: 100%;
  height: 100%;
  .admin-aside {
    width: 180px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: $BlackSecondary;
    h3 {
      color: #FFF;
      text-align: center;
      padding: 10px 0;
    }
    li {
      cursor: pointer;
      a {
        display: block;
        padding: 10px 20px;
        color: #FFF;
        text-decoration: none;
        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }
        &.current {
          color: $Link;
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }
  }
  .admin-content {
    position: relative;
    min-height: 100%;
    margin-left: 180px;
    background-color: #fff;
    .content {
      margin-bottom: 20px;
    }
  }
}

.article {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    td,
    th {
      padding: 10px 15px;
      text-align: left;
    }
    thead tr {
      background-color: $Border;
    }
    tbody tr {
      border-bottom: 1px solid $Border;
      a {
        cursor: pointer;
      }
    }

    th:nth-child(1),
    td:nth-child(1) {
      width: 70%;
    }
    .draft {
      color: red;
    }
  }
}

.essay {
  .form {
    padding: 30px 15px;
    .title {
      input[type="text"] {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      input[type="text"] {
        width: 400px;
      }
      button:nth-child(1) {
        background-color: #24292E;
        margin-right: 20px;
        color: #fff;
      }
    }
    .tags {
      color: gray;
      padding: 10px 0;
      span {
        display: inline-block;
        margin-left: 10px;
        a {
          cursor: pointer !important;
        }
      }
      span:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

.edit {
  text-align: center;
  padding-top: 50px;
  .avatar {
    padding: 30px;
    cursor: pointer;
    .img {
      width: 100px;
      height: 100px;
      position: relative;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100px;
        height: 100px;
        display: block;
      }
      span {
        width: 100px;
        background-color: rgba(0, 0, 0, .3);
        display: block;
        position: absolute;
        bottom: 0;
        font-size: 12px;
        color: #FFF;
        padding: 8px 0;
      }
    }
  }
  .my-input {
    padding-bottom: 30px;
    input {
      width: 400px;
    }
  }
  button[type="button"] {
    color: #FFF;
    background-color: $BlackPrimary;
  }
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $BlackPrimary;
  .title {
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 8px;
    margin-top: 100px;
  }
  .form {
    position: relative;
    background-color: #fff;
    width: 400px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 40px 0;
    input[type="text"],
    input[type="password"],
    button[type="button"] {
      display: block;
      width: 80%;
      margin: 0 auto 20px;
    }
    button[type="button"] {
      color: #fff;
      background-color: $BlackSecondary;
      &:hover {
        cursor: pointer !important;
        background-color: $BlackPrimary;
      }
    }
  }
}



/* @media screen*/

@media only screen and(max-width: 768px) {
  .search {
    display: none;
  }
  .aside {
    display: none;
  }
  .footer {
    border-top: 1px solid $Border;
    color: #C8C9CA;
    margin: auto;
    .copy {
      text-align: center;
      height: 70px;
      display: block;
      font-size: 12px;
      padding: 18px;
      .licensed {
        margin-bottom: 10px;
      }
    }
  }
}

// 编辑器
.v-note-wrapper {
  min-height: 400px !important;
}

//图片列表
.photolist-container{
  margin: 20px 0;
  // background: #f0f0f0;
  height:300px;
  // border-top: 1px solid $Border;
  // border-bottom: 1px solid #8e8e8e;
  // border-top: 1px solid #8e8e8e;

  .content{
    // background: #FF2D2D;
    max-width:1122px;
    border-top: 1px solid $Border;
    padding-top: 10px;
    margin: 0 auto; 
    height: 100%;
    display: flex;
    .item{
      box-sizing:border-box;
      // background: #404448;
      color:blue;
      text-align: center;
      flex: 1;
      border: 1px solid rgb(80, 13, 13);
      border-radius: 5px;
      padding: 8px;
      .item-title{
        color: $BigFontColor;
        font-size:16px;
        text-align:left;
        margin-bottom:10px;
      }
      .item-content{
        color: $FontColr;
        font-size: 14px;
        text-align:left;
      }
      .photoitem1{
        //todo 为什么这样写就加载不出来？？？
        // background: url(./public/photoList/01.jpg);
      }
      .photoitem2{
       
      }
      .photoitem3{
        
      }
    }
    .for-center{
      flex: 0.2;
    }

  }
}